html, body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #FFF;
  font-family: 'Smythe';
}

/* typography & icons*/
h1 {
  font-size: 2.44rem;
  line-height: 1.5rem;
  margin: 0;

}

h2, h3 {
  font-size: 1.40rem;
  line-height: 0.86rem;
  margin: 0;
}

h1, h3 {
  color: #FFF;
  text-align: center;
  margin-left: 3rem;
}

p {
  color: #8B8B8B;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
}

.icon {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #DEDEDE;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Layout */
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 37.5rem;
  height: 10.44rem;
  background: lightgray url('./images/bg-img.png') 50% / cover no-repeat;
}

.menu {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 1rem;
}

.item-container {
  width: 31.75rem;
  height: 8.75rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D2D2D2;
}

.item-details {
  display: flex;
}

.item-name {
  margin-bottom: 0.5rem;
}

.item-ingredients,
.item-name,
.item-price {
  margin-left: 1rem;
}

/* Item cart styling */
.cart {
  width: 31.73rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-title {
  text-align: center;
  margin-top: 2rem;
}

.cart-items {
  display: flex;
  flex-direction: column; /* Change to column layout for cart items */
  align-items: flex-start; /* Align items to the left */
  width: 100%; /* Take the full width of the container */
  gap: 1rem; /* Add spacing between cart items */
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-item-name {
  margin: 0;
}

.btn-remove {
  background-color: #FFF;
  color: #BBB;
  border: none;
  cursor: pointer;
}

.cart-item-price {
  margin-left: auto; /* Push the price to the right */
}

.total-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Take the full width of the container */
  margin-top: 1rem;
  padding-top: 2rem;
  border-top: 1px solid black;
}

.cart-tot-price {
  font-weight: bold;
}

.btn-complete {
  margin-top: 1rem;
  width: 31.75rem;
  padding: 1rem 11rem 1rem 11rem;
  align-self: center;
  background-color: #16DB99;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  border-radius: 0.2rem;
  border-style: none;
  color: var(--white, #FFF);
  font-family: Verdana;
  font-style: normal;
}

/* Modal */
.modal {
  display: none;
  width: 32.75rem;
  height: 33.89rem;
  border-radius: 0.24313rem;
  background: #FFF;
  filter: drop-shadow(5.186544418334961px 5.186544418334961px 255.43731689453125px rgba(0, 0, 0, 0.50));
}

.close-modal-btn-container{
  text-align: right;
  margin: 9px;
}

.modal-close-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: #757575;
}

.modal-close-btn:hover,
.modal-close-btn:active{
    color: #BBB;
    cursor: pointer;
}

.modal-title {
  color: #000;
  font-family: Verdana;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.94494rem;
  align-self: center;
  padding-right: 2rem;
  padding-bottom: 3rem;
}

.modal-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

form > input {
  width: 29.74444rem;
  height: 4.4565rem;
  border-radius: 0.24313rem;
  border: 1.297px solid #757575;

  color: #757575;
  font-family: Verdana;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.94494rem;
  text-align: center;
}

.pay-btn {
  width: 29.74444rem;
  height: 4.4565rem;
  margin-top: 3rem;
  border-radius: 0.24313rem;
  border-style: none;
  background: #16DB99;
  cursor: pointer;

  color: var(--white, #FFF);
  font-family: Verdana;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.94494rem;
}

/* Order completed state */
.order-complete-container {
  width: 31.5rem;
  height: 7.5rem;
  flex-shrink: 0;
  border-radius: 0.1875rem;
  background: #ECFDF5;
  display: flex;
  align-items: center;


}

.order-complete-container > h1 {
  color: #065F46;
  font-size: 2rem;
  line-height: 1.05rem
}

