html, body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #FFF;
  font-family: 'Smythe';
}

/* typography & icons*/
h1 {
  font-size: 2.44rem;
  line-height: 1.5rem;
  margin: 0;

}

h2, h3 {
  font-size: 1.40rem;
  line-height: 0.86rem;
  margin: 0;
}

h1, h3 {
  color: #FFF;
  text-align: center;
  margin-left: 3rem;
}

p {
  color: #8B8B8B;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
}

.icon {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #DEDEDE;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Layout */
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 37.5rem;
  height: 10.44rem;
  background: lightgray url('./images/bg-img.png') 50% / cover no-repeat;
}

.main {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 1rem;
}

.item-container {
  width: 31.75rem;
  height: 8.75rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D2D2D2;
}

.item-details {
  display: flex;
}

.item-name {
  margin-bottom: 0.5rem;
}

.item-ingredients,
.item-name,
.item-price {
  margin-left: 1rem;
}

/* Item cart styling */
.item-cart {
  display: flex
  
}



